@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --color-accent: #2196f3;
  --color-addredd-footer: #ffffff;
  --color-board-btn-close: rgba(0, 0, 0, 0.1);
  --color-board-card: #eeeeee;
  --color-board-client: #afb1b8;
  --color-board-header: #ececec;
  --color-board-input-footer: rgba(255, 255, 255, 0.3);
  --color-board-input-modal: rgba(33, 33, 33, 0.2);
  --color-board-input-modal-accent: #2196f3;
  --color-btn-close: #000000;
  --color-btn-primary: #ffffff;
  --color-btn-secondary: #212121;
  --color-btn-submit-modal: #ffffff;
  --color-contact-footer: rgba(255, 255, 255, 0.6);
  --color-cta-footer: #ffffff;
  --color-department: #ffffff;
  --color-h-second: #212121;
  --color-h-third: #212121;
  --color-icon-client: #afb1b8;
  --color-icon-company: #afb1b8;
  --color-icon-modal: #212121;
  --color-icon-social-staff: #afb1b8;
  --color-icon-social-staff-hover: #ffffff;
  --color-input-footer: rgba(255, 255, 255, 0.6);
  --color-label-modal: #757575;
  --color-link-header: #757575;
  --color-logo-footer: #ffffff;
  --color-logo-header: #000000;
  --color-menu-header: #212121;
  --color-overlay-card-portfolio: #ffffff;
  --color-p: #757575;
  --color-placeholder-modal: rgba(117, 117, 117, 0.5);
  --color-text-modal: #757575;
  --color-title-hero: #ffffff;
  --color-title-modal: #212121;
  --bg-achievement: #f5f4fa;
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --bg-btn-hover: #188ce8;
  --bg-btn-primary: #2196f3;
  --bg-btn-secondary: #f5f4fa;
  --bg-card-staff: #ffffff;
  --bg-client: transparent;
  --bg-department: rgba(47, 48, 58, 0.8);
  --bg-footer: #2f303a;
  --bg-header: #ffffff;
  --bg-hero: #c4c4c4;
  --bg-link-social-staff: transparent;
  --bg-modal: #ffffff;
  --bg-overlay-card-portfolio: rgba(33, 150, 243, 0.9);
  --bg-page: #ffffff;
  --bg-section-staff: #f5f4fa;
  --bg-social-icon-footer: rgba(255, 255, 255, 0.1);
  --duration-primary: 250ms;
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --font-size-primary: 14px;
  --letter-spacing-primary: 0.03em;
  --line-height-primary: 1.14;
  --gap-h: 30px;
  --gap-v: 30px;
  --margin-menu-item: 50px;
  --padding-container: 15px;
  --padding-hero-under-1200: 118px;
  --padding-hero-1200: 200px;
  --padding-modal: 40px;
  --padding-section-under-1200: 60px;
  --padding-section-1200: 94px;
  --radius-board-primary: 4px;
  --shadow-card-staff: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-btn-filter: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-primary: cubic-bezier(0.4, 0, 0.2, 1);
  --width-card-768: 354px;
  --width-container-480: 480px;
  --width-container-768: 768px;
  --width-container-1200: 1200px;
  --width-page: 1600px;
  --width-form-modal: 448px;
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Bold.eot");
  src: local("вє"), url("../../fonts/Raleway-Bold.woff") format("woff"), url("../../fonts/Raleway-Bold.ttf") format("truetype"), url("../../fonts/Raleway-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular.eot");
  src: local("вє"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("truetype"), url("../../font/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Medium.eot");
  src: local("вє"), url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.ttf") format("truetype"), url("../../fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Bold.eot");
  src: local("вє"), url("../../fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.ttf") format("truetype"), url("../../fonts/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Black.eot");
  src: local("вє"), url("../../fonts/Roboto-Black.woff") format("woff"), url("../../fonts/Roboto-Black.ttf") format("truetype"), url("../../fonts/Roboto-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--bg-page);
  color: var(--color-p);
  font-size: var(--font-size-primary);
  letter-spacing: var(--letter-spacing-primary);
  line-height: var(--line-height-primary);
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

*:focus-visible {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social__icon {
  display: block;
  fill: currentColor;
}

.social__cta, .sign-up__cta {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.department__title, .staff__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color-h-second);
  margin-bottom: 50px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-btn-submit-modal);
  -webkit-box-shadow: var(--shadow-btn);
          box-shadow: var(--shadow-btn);
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--radius-board-primary);
  cursor: pointer;
  -webkit-transition: background-color var(--duration-primary) var(--timing-primary);
  transition: background-color var(--duration-primary) var(--timing-primary);
}

.button:hover,
.button:focus {
  background-color: var(--bg-btn-hover);
}

.section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: var(--padding-section-under-1200);
  padding-bottom: var(--padding-section-under-1200);
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: var(--padding-section-1200);
    padding-bottom: var(--padding-section-1200);
  }
}

.container {
  width: 100%;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: var(--width-container-480);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--width-container-768);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: var(--width-container-1200);
  }
}

.social {
  color: var(--color-cta-footer);
}

.social__list, .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-social-icon-footer);
  padding: 12px;
  -webkit-transition: background-color var(--duration-primary) var(--timing-primary);
  transition: background-color var(--duration-primary) var(--timing-primary);
}

.social__link:hover, .social__link:focus {
  background-color: var(--color-accent);
}

.social__link--refill {
  color: var(--color-icon-social-staff);
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}

.social__link--refill:hover, .social__link--refill:focus {
  color: var(--color-icon-social-staff-hover);
}

/* header */
.header {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--color-board-header);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--color-logo-header);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--accent {
  color: var(--color-accent);
}

.footer__logo {
  color: var(--color-logo-footer);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

/* main */
.hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-color: var(--bg-hero);
  color: var(--color-title-hero);
  text-align: center;
  padding-top: var(--padding-hero-under-1200);
  padding-bottom: var(--padding-hero-under-1200);
}

@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: var(--padding-hero-1200);
    padding-bottom: var(--padding-hero-1200);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) {
  .achievement__section {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .achievement__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap-h));
    margin-top: calc(-1 * var(--gap-v));
  }
}

@media screen and (max-width: 479px) {
  .achievement__item {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .achievement__item {
    width: 450px;
  }
  .achievement__item + .achievement__item {
    margin-top: var(--gap-v);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .achievement__item {
    -ms-flex-preferred-size: calc(100% / 2 -var(--gap-h));
        flex-basis: calc(100% / 2 -var(--gap-h));
    margin-left: var(--gap-v);
    margin-top: var(--gap-h);
  }
}

@media screen and (min-width: 1200px) {
  .achievement__item {
    -ms-flex-preferred-size: calc(100% / 3 -var(--gap-h));
        flex-basis: calc(100% / 3 -var(--gap-h));
    margin-left: var(--gap-v);
    margin-top: var(--gap-h);
  }
}

.achievement__thumb {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-achievement);
  margin-bottom: 30px;
}

.achievement__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-h-second);
  margin-bottom: 10px;
}

.achievement__text {
  line-height: 1.71;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .department {
    display: none;
  }
}

.department__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.department__item {
  position: relative;
}

.department__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-department);
  background-color: var(--bg-department);
}

.staff {
  background-color: var(--bg-section-staff);
}

/* portfolio */
/* footer */
.footer {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container_align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container_align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .container__info {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container__info {
    margin-bottom: 0;
    max-width: var(--width-card-768);
    margin-right: var(--gap-v);
  }
}

@media screen and (min-width: 1200px) {
  .container__info {
    margin-right: 70px;
  }
}

.container__social {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1190px) {
  .container__social {
    margin-bottom: 0;
    max-width: var(--width-card-768);
    margin-right: var(--gap-v);
  }
}

@media screen and (min-width: 1200px) {
  .container__sign-up {
    margin-left: auto;
  }
}

.address__list {
  display: block;
  font-style: normal;
  margin: 0;
}

.address__postaddress {
  line-height: 1.71;
  color: var(--color-addredd-footer);
  margin-bottom: 9px;
}

.address__email {
  display: block;
  text-decoration: none;
  color: var(--color-contact-footer);
  line-height: 1.71;
  margin-bottom: 9px;
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}

.address__email:hover, .address__email:focus {
  color: var(--color-accent);
}

.address__tel {
  text-decoration: none;
  color: var(--color-contact-footer);
  line-height: 1.71;
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}

.address__tel:hover, .address__tel:focus {
  color: var(--color-accent);
}

.sign-up {
  color: var(--color-cta-footer);
}

@media screen and (max-width: 1199px) {
  .sign-up__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sign-up__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-input-footer);
  background-color: transparent;
  border: 1px solid var(--color-board-input-footer);
  border-radius: var(--radius-board-primary);
}

@media screen and (max-width: 479px) {
  .sign-up__input {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .sign-up__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__input {
    width: 358px;
    margin-right: 12px;
  }
}

.sign-up__icon {
  display: inline-block;
  fill: var(--color-btn-submit-modal);
}

.sign-up__icon--append {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */