.staff__card-set {
  @media screen and (min-width: 768px) {
    @include positioning-flex();
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.staff__card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--shadow-card-staff);

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 450px;
    & + & {
      margin-top: var(--gap-v);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - var(--gap-v));
    margin-left: var(--gap-v);
    margin-top: var(--gap-h);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--gap-v));
    margin-left: var(--gap-v);
    margin-top: var(--gap-h);
  }
}

.staff__img {
  width: 100%;
  height: auto;
}

.staff__description {
  background-color: var(--bg-card-staff);
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.staff__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-h-third);
  margin-bottom: 10px;
}

.staff__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-p);
  background-color: var(--bg-card-staff);
  margin-bottom: 16px;
}
