.clientage__title {
  @extend %title;
}

.clientage__list {
  @include positioning-flex();
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clientage__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: var(--gap-h);
  margin-top: var(--gap-v);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: var(--gap-h);
    margin-top: var(--gap-v);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: var(--gap-h);
    margin-top: var(--gap-v);
  }
}

.clientage__icon {
  @extend %fill-icon;
}

.clientage__link {
  @include positioning-flex();
  list-style: none;
  margin: 0;
  width: 100%;
  height: 92px;
  color: var(--color-icon-client);
  background-color: var(--bg-client);
  border: 1px solid var(--color-board-client);
  border-radius: var(--radius-board-primary);

  transition: color var(--duration-primary) var(--timing-primary),
    border var(--duration-primary) var(--timing-primary);

  &:hover,
  &:focus {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }
}
