.section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: var(--padding-section-under-1200);
  padding-bottom: var(--padding-section-under-1200);

  @media screen and (min-width: 1200px) {
    padding-top: var(--padding-section-1200);
    padding-bottom: var(--padding-section-1200);
  }
}
