.department {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.department__title {
  @extend %title;
}

.department__list {
  @include positioning-flex($jc: space-between, $ai: stretch);
}

.department__item {
  position: relative;
}

.department__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  @include positioning-flex();
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-department);
  background-color: var(--bg-department);
}
