.hero__section {
  height: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-img.jpg');
  background-position: center;
  background-size: cover;
  background-color: var(--bg-hero);
  color: var(--color-title-hero);
  text-align: center;

  padding-top: var(--padding-hero-under-1200);
  padding-bottom: var(--padding-hero-under-1200);

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-480.jpeg');
  }

  @media screen and (min-width: 1200px) {
    padding-top: var(--padding-hero-1200);
    padding-bottom: var(--padding-hero-1200);
  }
}

.hero__container {
  @include positioning-flex($jc: start);
  flex-direction: column;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
