.achievement__section {
  padding-bottom: 0;
}
.achievement__list {
  display: flex;
  gap: var(--gap-h);
}

.achievement__item {
  flex-basis: 270px;
}

.achievement__thumb {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-achievement);
  margin-bottom: 30px;
}

.achievement__title {
  display: block;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-h-second);
}

.achievement__text {
  line-height: 1.71;
  text-align: left;
}
