.social-string {
  display: none;
  @media screen and (max-width: 767px) {
    @include positioning-flex($jc: start);
    margin-left: -10px;
  }
}

.social-string__item + .social-string__item {
  border-left: 1px solid var(--color-board-input-modal);
}

.social-string__link {
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
